<header>
    <h1>Inventory App</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/movies">Movies</a>
        <a href="/genres">Genres</a>
        <a href="/directors">Directors</a>
    </nav>
</header>
