<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <%- include('header'); -%>
        <main>
            <h1><%= title %></h1>
        </main>
        <%- include('footer'); -%>
    </body>
</html>
